.DS_Store

report/report.aux
report/report.synctex.gz
report/report.out
report/report.log
report/report.idx
report/report.lof
report/report.lot
report/report.toc
report/report.bbl
report/report.blg
# remove when shipping
report/report.pdf
